# My preferred MultiIndex DataFrame structure for stock market data

In this tutorial, you'll learn about ...

This tutorial is part 2 in a larger series on getting started with fintech and market analysis with Python:

1. How to download market data with yfinance and Python
2. _My preferred MultiIndex DataFrame structure for stock market data (this tutorial)_
3. How to plot candlestick charts with Python and mplfinance
4. How to compute Simple Moving Averages (SMAs) for trading with Python and Pandas
5. Finding consecutive integer groups in arrays with Python and NumPy
6. Computing slope of series with Pandas and SciPy
7. Market stage detection with Python and Pandas
8. Implementing TradingView’s Stochastic RSI indicator in Python
9. Introduction to position sizing
10. Risk/Reward analysis and position sizing with Python

## Configuring your development environment

Before we dive in, let’s set up our Python environment with the packages we’ll need:

```shell
$ pip install numpy pandas yfinance
```

- One bullet point for each package, explaining what it does

## Configuring our date range and ticker

In [1]:
# import the necessary packages
from datetime import timedelta
from datetime import datetime
import yfinance as yf
import pandas as pd

# set the start and end dates for our market data
end_date = datetime(year=2025, month=3, day=1)
start_date = end_date - timedelta(days=365)

# set the name of the ticker we want to download market data for
ticker = ["NVDA", "AAPL"]

- Explain `start_date` and `end_date` of history requests
- Explain tickers

## Understanding yfinance's default multi-index structure

In [2]:
# download daily market data
df_orig = yf.download(
    tickers=ticker,
    start=start_date,
    end=end_date,
    interval="1d",
    auto_adjust=True,
    progress=False
)
df_orig

Price            Close                    High                     Low  \
Ticker            AAPL        NVDA        AAPL        NVDA        AAPL
Date
2024-03-01  178.815674   82.248108  179.681580   82.269104  176.546390
2024-03-04  174.277115   85.205002  176.068644   87.662079  172.973259
2024-03-05  169.320496   85.935760  171.231471   86.068720  168.822845
2024-03-06  168.325180   88.670860  170.435227   89.694526  167.887245
2024-03-07  168.205750   92.638550  169.927615   92.736517  167.698152
...                ...         ...         ...         ...         ...
2025-02-24  247.100006  130.268021  248.860001  138.577254  244.419998
2025-02-25  247.039993  126.618355  250.000000  130.188026  244.910004
2025-02-26  240.360001  131.267929  244.979996  133.717701  239.130005
2025-02-27  237.300003  120.138954  242.460007  134.997581  237.059998
2025-02-28  241.839996  124.908508  242.089996  125.078491  230.199997

Price                         Open                Volume
Ticker            NVDA        AAPL        NVDA      AAPL       NVDA
Date
2024-03-01   79.405174  178.706190   79.969964  73488000  479135000
2024-03-04   83.687574  175.322168   84.098415  81510100  615616000
2024-03-05   83.389600  169.957487   85.241988  95132400  520639000
2024-03-06   87.001411  170.256065   87.993089  68587700  582520000
2024-03-07   89.572556  168.355038   90.128373  71765100  608119000
...                ...         ...         ...       ...        ...
2025-02-24  130.068042  244.929993  136.547442  51326400  251381100
2025-02-25  124.428561  248.000000  129.968045  48013300  271428700
2025-02-26  128.478192  244.330002  129.978054  44433600  322553800
2025-02-27  119.998968  239.410004  134.987587  41153600  443175800
2025-02-28  116.389295  236.949997  118.009141  56833400  389091100

[250 rows x 10 columns]

- Briefly explain the parameters to `yf.download`
- Link back to "How to download market data with yfinance and Python" article for more information
    - Hugo `ref` link: how-to-download-market-data-yfinance-python
- Rows are the dates of the history request
- Columns are `MultiIndex`
    - First index is the names of the OHLCV columns
    - Second index is the ticker
    - Note how the OHLCV columns are never repeated - they are the top-level index
    - However, the ticker index (i.e., the secondary index) is repeated multiple times, one for each of the OHCLV columns, respectively
    - This means that there are a total of 10 columns in the DataFrame: 5 columns (one for each of the OLHCV columns) x 2 columns per ticker (one for AAPL and NVDA, respectively) = 10 columns total
    - This will become more clear when we examine the index structure

Speaking of which, let's examine how the row index structure is organized

In [3]:
# show the original index structure
df_orig.index

DatetimeIndex(['2024-03-01', '2024-03-04', '2024-03-05', '2024-03-06',
               '2024-03-07', '2024-03-08', '2024-03-11', '2024-03-12',
               '2024-03-13', '2024-03-14',
               ...
               '2025-02-14', '2025-02-18', '2025-02-19', '2025-02-20',
               '2025-02-21', '2025-02-24', '2025-02-25', '2025-02-26',
               '2025-02-27', '2025-02-28'],
              dtype='datetime64[ns]', name='Date', length=250, freq=None)

- Explain the row index, namely one row per date period

In [4]:
# show the original columns
df_orig.columns

MultiIndex([( 'Close', 'AAPL'),
            ( 'Close', 'NVDA'),
            (  'High', 'AAPL'),
            (  'High', 'NVDA'),
            (   'Low', 'AAPL'),
            (   'Low', 'NVDA'),
            (  'Open', 'AAPL'),
            (  'Open', 'NVDA'),
            ('Volume', 'AAPL'),
            ('Volume', 'NVDA')],
           names=['Price', 'Ticker'])

- Here we can see the two column indexes
- Think of these as nested dictionaries
- We can use `df["Close"]` to grab all closing values for both `AAPL` and `NVDA`

In [5]:
df_orig["Close"]

Ticker            AAPL        NVDA
Date
2024-03-01  178.815674   82.248108
2024-03-04  174.277115   85.205002
2024-03-05  169.320496   85.935760
2024-03-06  168.325180   88.670860
2024-03-07  168.205750   92.638550
...                ...         ...
2025-02-24  247.100006  130.268021
2025-02-25  247.039993  126.618355
2025-02-26  240.360001  131.267929
2025-02-27  237.300003  120.138954
2025-02-28  241.839996  124.908508

[250 rows x 2 columns]

- Or, we can grab _just_ the closing values for `AAPL` using:

In [6]:
df_orig["Close"]["AAPL"]

Date
2024-03-01    178.815674
2024-03-04    174.277115
2024-03-05    169.320496
2024-03-06    168.325180
2024-03-07    168.205750
                 ...
2025-02-24    247.100006
2025-02-25    247.039993
2025-02-26    240.360001
2025-02-27    237.300003
2025-02-28    241.839996
Name: AAPL, Length: 250, dtype: float64

## Limitations of yfinance's default multi-index structure

- Personally, I'm not a fan of using a column-based `MultiIndex`
- I prefer a row-based `MultiIndex`
- Discuss how number of columns in the DataFrame increases by 5x as a function of the number of tickers
- In this example, we only have 2 tickers (5 x 2 = 10 columns)
- But in real-world examples, we could have hundreds or thousands of tickers, resulting in thousands or tens of thousands of columns
- That makes the DataFrame unweidly and near impossible to visually debug
- And while a column-based `MultiIndex` structure _does_ make it easy to quickly grab _all_ closing prices for a set of symbols across a set of dates, it is _not_ the most intuitive when you start computing indicators (i.e., moving averages, RSI, MACD, etc.) for each of the tickers (an example of which I'll show you below)
- Expand on these limitations as you see fit

## Updating yfinance's multi-index structure to use row indexes

- Personally, I prefer row indexes
- That limits the number of columns to 5 by default (OHLCV)
- The row index will now have two levels:
    - The first index will be the ticker
    - The second index will be the date
- Yes, that _does_ mean date information will be duplicated across multiple rows
- But it _also_ means that you can _easily_ use Pandas's built-in `groupby` operations to quickly perform calculations on a per-ticker basis
- Let's see how it works

In [7]:
# clone the original dataframe
df = df_orig.copy()

# restructure the default multi-index yfinance dataframe by converting from
# wide to long format, renaming the indices, ensuring the columns are provided
# in OHLCV order, reordering the index such that date is first and symbol is
# second, and finally sorting the index itself
df = df.stack(level="Ticker", future_stack=True)
df.index.names = ["Date", "Symbol"]
df = df[["Open", "High", "Low", "Close", "Volume"]]
df = df.swaplevel(0, 1)
df = df.sort_index()
df

Price                    Open        High         Low       Close     Volume
Symbol Date
AAPL   2024-03-01  178.706190  179.681580  176.546390  178.815674   73488000
       2024-03-04  175.322168  176.068644  172.973259  174.277115   81510100
       2024-03-05  169.957487  171.231471  168.822845  169.320496   95132400
       2024-03-06  170.256065  170.435227  167.887245  168.325180   68587700
       2024-03-07  168.355038  169.927615  167.698152  168.205750   71765100
...                       ...         ...         ...         ...        ...
NVDA   2025-02-24  136.547442  138.577254  130.068042  130.268021  251381100
       2025-02-25  129.968045  130.188026  124.428561  126.618355  271428700
       2025-02-26  129.978054  133.717701  128.478192  131.267929  322553800
       2025-02-27  134.987587  134.997581  119.998968  120.138954  443175800
       2025-02-28  118.009141  125.078491  116.389295  124.908508  389091100

[500 rows x 5 columns]

Briefly explain what the operations above are doing (maybe one bullet point per line?)

In [8]:
# show the updated index structure
df.index

MultiIndex([('AAPL', '2024-03-01'),
            ('AAPL', '2024-03-04'),
            ('AAPL', '2024-03-05'),
            ('AAPL', '2024-03-06'),
            ('AAPL', '2024-03-07'),
            ('AAPL', '2024-03-08'),
            ('AAPL', '2024-03-11'),
            ('AAPL', '2024-03-12'),
            ('AAPL', '2024-03-13'),
            ('AAPL', '2024-03-14'),
            ...
            ('NVDA', '2025-02-14'),
            ('NVDA', '2025-02-18'),
            ('NVDA', '2025-02-19'),
            ('NVDA', '2025-02-20'),
            ('NVDA', '2025-02-21'),
            ('NVDA', '2025-02-24'),
            ('NVDA', '2025-02-25'),
            ('NVDA', '2025-02-26'),
            ('NVDA', '2025-02-27'),
            ('NVDA', '2025-02-28')],
           names=['Symbol', 'Date'], length=500)

- Note how the row-based index is now multi-level
- Previously it was _single level_ (i.e., just the dates)
- Now we have one level for the symbol and then another level for the dates

In [9]:
# as well as the updated columns
df.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object', name='Price')

- The columns on the other hand are simply the OHLCV values

In [10]:
# display *just* the subset of AAPL market data
df.xs("AAPL")

Price             Open        High         Low       Close    Volume
Date
2024-03-01  178.706190  179.681580  176.546390  178.815674  73488000
2024-03-04  175.322168  176.068644  172.973259  174.277115  81510100
2024-03-05  169.957487  171.231471  168.822845  169.320496  95132400
2024-03-06  170.256065  170.435227  167.887245  168.325180  68587700
2024-03-07  168.355038  169.927615  167.698152  168.205750  71765100
...                ...         ...         ...         ...       ...
2025-02-24  244.929993  248.860001  244.419998  247.100006  51326400
2025-02-25  248.000000  250.000000  244.910004  247.039993  48013300
2025-02-26  244.330002  244.979996  239.130005  240.360001  44433600
2025-02-27  239.410004  242.460007  237.059998  237.300003  41153600
2025-02-28  236.949997  242.089996  230.199997  241.839996  56833400

[250 rows x 5 columns]

- To access the sub-dataframe (or cross-section, as Pandas calls it), we can use the `xs` method and then provide the ticker name

## Performing data analysis operations on our new multi-index DataFrame

- Let's look at how we can compute a 50 day moving average on closing prices using the new multi-index structure

In [11]:
# notice how easy it is to analyze OHLCV data for each of the symbols with
# this structure by (1) first grouping on the symbol, followed by (2) applying
# our analysis method via 'transform'
df["50MA"] = df.groupby(level="Symbol")["Close"].transform(
    lambda x: x.rolling(window=50).mean()
)
df

Price                    Open        High         Low       Close     Volume  \
Symbol Date
AAPL   2024-03-01  178.706190  179.681580  176.546390  178.815674   73488000
       2024-03-04  175.322168  176.068644  172.973259  174.277115   81510100
       2024-03-05  169.957487  171.231471  168.822845  169.320496   95132400
       2024-03-06  170.256065  170.435227  167.887245  168.325180   68587700
       2024-03-07  168.355038  169.927615  167.698152  168.205750   71765100
...                       ...         ...         ...         ...        ...
NVDA   2025-02-24  136.547442  138.577254  130.068042  130.268021  251381100
       2025-02-25  129.968045  130.188026  124.428561  126.618355  271428700
       2025-02-26  129.978054  133.717701  128.478192  131.267929  322553800
       2025-02-27  134.987587  134.997581  119.998968  120.138954  443175800
       2025-02-28  118.009141  125.078491  116.389295  124.908508  389091100

Price                    50MA
Symbol Date
AAPL   2024-03-01         NaN
       2024-03-04         NaN
       2024-03-05         NaN
       2024-03-06         NaN
       2024-03-07         NaN
...                       ...
NVDA   2025-02-24  134.377040
       2025-02-25  134.208256
       2025-02-26  134.047671
       2025-02-27  133.703902
       2025-02-28  133.517319

[500 rows x 6 columns]

- First, we group the DataFrame by the `Symbol` (i.e., ticker) creating groups of sub-DataFrames (like in the example above)
- Then, we grab _just_ the `Close` column
- For each group, we call the `transform` method, which takes the sub-DataFrame and computes a 50-day moving average, storing the result in a new `50MA` column

In [12]:
# let's investigate the computed 50MA for AAPL
df.xs("AAPL")["50MA"]

Date
2024-03-01           NaN
2024-03-04           NaN
2024-03-05           NaN
2024-03-06           NaN
2024-03-07           NaN
                 ...
2025-02-24    240.485810
2025-02-25    240.476652
2025-02-26    240.359467
2025-02-27    240.151713
2025-02-28    240.031363
Name: 50MA, Length: 250, dtype: float64

- Explain the output
- Explain why there are NaN values at beginning of DataFrame

In [13]:
# now, let's *manually* compute the 50MA for AAPL (i.e., on a series rather
# than a multi-index dataframe)
df.xs("AAPL")["Close"].rolling(window=50).mean()

Date
2024-03-01           NaN
2024-03-04           NaN
2024-03-05           NaN
2024-03-06           NaN
2024-03-07           NaN
                 ...
2025-02-24    240.485810
2025-02-25    240.476652
2025-02-26    240.359467
2025-02-27    240.151713
2025-02-28    240.031363
Name: Close, Length: 250, dtype: float64

- Now let's verify that our calculations are correct

In [14]:
# verify our calculations match
pd.testing.assert_series_equal(
    df.xs("AAPL")["50MA"],
    df.xs("AAPL")["Close"].rolling(window=50).mean(),
    check_names=False
)

## Exercises

- Given user simple exercises they can do to extend their knowledge gained from this tutorial

## Final thoughts

- Summarize this article
- Final sentence should be "In the next tutorial, we'll..."

## Download the source code to this tutorial

Use the following:

```
<a class=optin-code-trigger href=#optin>👉 Click here to download the source code to this tutorial</a>
```